<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
        <title>Weather Mood Music</title>
    </head>
    <body>

        {% include 'nav.html' %}

        <div class="container">
        <h1>Hello {{ name }}, from the render template! Are you from {{ city }}?</h1>
        <p>My favorite foods are:</p>
        <ul>
            {% for f in foods %}
                {% if f == 'donuts' %}
                <li>{{ f.upper() }}</li>
                {% else %}
                <li>{{ f }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    </body>
</html>
